.card-title {
	background-color: #00543d; 
    color: white;
}

/* Animation Styles */
  .pop-in-card {
    animation: popIn 1s ease forwards;
    transform: translateY(50px);
  }

  @keyframes popIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Hover Effect */
  .card:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
  }